body{
	margin: 0;
	padding: 0;
	font-family: montserrat,Time New Roman;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(243,243,248,1) 0%, rgba(162,167,168,1) 100%);
	height: 100vh;
	overflow: hidden;
}
img{
	height: 70px;
	width: 70px;
	text-align: center;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 800px;
	background: white;
	border-radius: 10px;
	padding-top: 20px;
	padding-bottom: 30px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
	
}
a{
	position: relative;
	float: right;

	text-decoration: none;
	color: black;
	padding-right: 20px;
	padding-top: 10px;
}
a img{
	height: 20px;
	width: 20px;
}
.container h2,h3{
	text-align: center;
}
.container form{
	text-align: center;
}
input[type=text]{
	width: 50px;
	border-radius: 5px;
	border: 2px solid #aaa;
	transition: 0.3s;
	outline: none;
}
input[type=text]:focus{
	border-color: dodgerblue;
}
input[type=button]{
	border: 2px solid #aaa;
	border-radius: 5px;

}
#empcontainerMN{
	width:50%; 
	height:400px;
	text-align: center; 
	margin: 0 auto;
	float: left;
	
}
#empcontainerND{
	width:50%; 
	height:400px;
	text-align: center; 
	margin: 0 auto;
	float: right;
	
}